<!DOCTYPE html>
<html>
<head>
  <title>CodeClan Student Employment Record</title>
  <link rel="icon" href="/CodeClan.png">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <main>
    <nav id="menu">
      <ul>
        <li>
          <a href="/jobs">Employment Record</a>
        </li>
        <li>
          <a href="/students">Students</a>
        </li>
        <li>
          <a href="/companies">Companies</a>
        </li>
        <li>
          <a href="/types">Job Type</a>
        </li>
      </ul>
    </nav>
    <section>
      <%= yield %>
    </section>
  </main>
</body>
</html>
