<h2>New Company Form</h2>

<form method="post" action="/companies">
  <div>
    <div>
      <label for="name">Name</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div>
      <label for="location">Location</label>
      <input type="text" name="location" id="location" >
    </div>

    <div>
      <input type="submit" value="Submit"/>
    </div>

  </div>
</form>