<h2>New Employment Form</h2>

<form method="post" action="/jobs">
  <div>

    <div>
      <label for="student_name">Student Name</label>
      <select name="student_id">
        
      </select>


    </div>

    <div>
      <label for="company_name">Company Name</label>
      <input type="number" name="company_id" id="company_name"/>
    </div>

    <div>
      <label for="job_type">Job Type</label>
      <input type="number" id="job_type" name="type_id">
    </div>

    <div>
      <input type="submit" value="Submit"/>
    </div>

  </div>
</form>