<h2>New Type Form</h2>

<form method="post" action="/types">
 
    <div>
      <label for="type">Type</label>
      <input type="text" id="type" name="type">
    </div>

    <div>
      <input type="submit" value="Submit"/>
    </div>

  </div>
</form>